/IManagerAbstraction.class
/ManagerAbstraction.class
/ManagerClosest.class
/ManagerClosestEnemy.class
/ManagerFartherEnemy.class
/ManagerFather.class
/ManagerLessDPS.class
/ManagerLessLife.class
/ManagerMoreDPS.class
/ManagerMoreLife.class
/ManagerRandom.class
/ManagerUnitsMelee.class
